$toolBarBackground: #555;
//
// Toolbar
//
.darkroom-toolbar {
  display: block;
  position: absolute;
  top: -45px;
  left: 0;
  background: $toolBarBackground;
  height: 40px;
  min-width: 40px;
  z-index: 99;
  border-radius: 2px;
  white-space: nowrap;
  padding: 0 5px;

  // Triangle
  /*  &:before {
      content: "";
      position: absolute;
      bottom: -7px;
      left: 20px;
      width: 0;
      height: 0;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-top: 7px solid #444;
    }*/
}

//
// Button Group
//
.darkroom-button-group {
  display: inline-block;
  margin: 0;
  padding: 0;
  // border-right: 1px solid #777;

  &:last-child {
    border-right: none;
  }
}


//
// Button
//
.darkroom-button {
  box-sizing: border-box;
  background: transparent;
  border: none;
  outline: none;
  padding: 2px 0 0 0;
  width: 40px;
  height: 40px;

  &:hover {
    cursor: pointer;
    background: #333;
  }
  &:active {
    cursor: pointer;
    background: #222;
  }

  &:disabled .darkroom-icon {
    fill: #666;
  }
  &:disabled:hover {
    cursor: default;
    /*cursor: not-allowed;*/
    background: transparent;
  }
  &.darkroom-button-active .darkroom-icon {
    fill: #33b5e5;
  }
  &.darkroom-button-hidden {
    display: none;
  }
  &.darkroom-button-success .darkroom-icon {
    fill: #99cc00;
  }
  &.darkroom-button-warning .darkroom-icon {
    fill: #FFBB33;
  }
  &.darkroom-button-danger .darkroom-icon {
    fill: #FF4444;
  }
}

//
// Icon
//
.darkroom-icon {
  width: 24px;
  height: 24px;
  fill: #fff;
}

// custom
.darkroom-input-default{
  position: relative;
  top:-6px;
  background: $toolBarBackground;
  color: white;
}

// Поля для ввода
.input-container{
  color: white;
  font-size: 190%;
  &:hover{
    cursor: default;
    background: $toolBarBackground;
  }
  &:active{
    cursor: default;
    background: $toolBarBackground;
  }
}

// Угол поворота картинки
#rotation-angle{
  width: 3em;
}
#rotation-angle-container{
  &:after {
    position: relative;
    content: '\00B0';
    top:-6px;
    left: 2px;
    //color: white;
  }
}

// Поля для кропа
#crop-coordinate-x-container,
#crop-coordinate-y-container,
#crop-width-container,
#crop-height-container {
  font-size: 150%;

  &:before{
    position: relative;
    top: -5px;
    margin-left: 5px;
  }
}

#crop-coordinate-x-container{
  &:before{
    content: 'x:';
  }
}
#crop-coordinate-y-container{
  &:before{
    content: 'y:';
  }
}
#crop-width-container{
  &:before{
    content: 'w:';
  }
}
#crop-height-container{
  &:before{
    content: 'h:';
  }
}